.icon{
    display: flex;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.icon-adre{
    background-image: url('../../icon/ico-adre.png');
}
.icon-phone{
    background-image: url('../../icon/ico-phone.png');
}
.icon-mail{
    background-image: url('../../icon/ico-mail.png');
}
.icon-fb{
    background-image: url('../../icon/ico-facebook.png');
}
.icon-twit{
    background-image: url('../../icon/ic-twitter.png');
}
.icon-web{
    background-image: url('../../icon/ico-web.png');
}
.icon-upArrow{
    background-image: url('../../icon/ico-upArrow.png');
}