@font-face {
	font-family: 'MontSerrat';
	src :
        url('font/Montserrat.eot') format("eot"),
        url('font/Montserrat.otf') format("otf"),
        url('font/Montserrat.svg') format("svg"),
        url('font/Montserrat.woff') format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}
@font-face {
	font-family: 'MontSerrat';
	src :
        url('font/Montserrat-bold.eot') format("eot"),
        url('font/Montserrat-bold.otf') format("otf"),
        url('font/Montserrat-bold.svg') format("svg"),
        url('font/Montserrat-bold.woff') format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}